*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# code
bin/
obj/
*.user
*.suo
*.vs/
*.DS_Store
appsettings.*.json
.env

# Node.js build artifacts
node_modules/
package-lock.json
package.json
!OnCallHelperUiCli/package.json

# Local .terraform directories
.terraform/
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which likely contain sensitive data
# These should not be part of version control
# Use a different mechanism for managing environment-specific variables
*.tfvars
*.tfvars.json

# Optional: ignore CLI configuration files
.terraformrc
terraform.rc

# Optional: ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json
